@import "tailwindcss";
@plugin "@tailwindcss/typography";

html, body {
    background-color: var(--color-neutral-900);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(82 82 91);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(113 113 122);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(82 82 91) transparent;
}